.btn{
    border: 0;
&-read{
    &:hover{
    background-color: $color-yellow !important;
    color: $color-white !important;
    border-radius: 5px;}
}
&-readmore{
    padding: 7px 20px !important;
    background-color: $color-black !important;
    color: $color-white !important;
    &:hover{
    background-color: $color-yellow !important;

  
    border-radius: 5px;}
}
}









